.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    background: #17254E;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px 0px 12px 12px;
    padding: 0px 25px;
    color: #fff;
}
.navbar p{
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
    font-family: 'Kanit', "san-sarif";
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}
.navbar a{
    margin-left: 20px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 28px; */
    background: #24D5A9;
    border-radius: 10px;
    padding: 8px 14px;
    color: #fff;
}

.navbar button{
    display: none;
    font-size: 30px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    border: none;
}
.navbar button{
    background: none;
    width: none;
}
@media (max-width : 992px) {
    .navbar button{
        display: block;
    }
}